.ShowImagesContainer {
  .paginator {
    list-style: none;
  }
  a {
    color: black;
  }
  h1 {
    color: white;
    span {
      color: #00B906;
    }
  }

  .loader {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: rgba(28, 22, 22, 0.42);
    z-index: 1;
    color: #fff;

    .loader-text {
      position: absolute;
      top: 50%;
      font-weight: bold;
      font-size: 3rem;
      width: 100%;
    }
  }
}